.btn i {
    position: absolute;
    top: 10px;
    right: 14px;
}

.d-none {
    display: none;
}

.dropzone {
    border: 1px dashed #dedede !important;
}

.dz-message span {
    display: block !important;
}

.sp-logo-wrap .brand-img {
    width: 200px;
}

.custom-dropzone {
	line-height: 150px;
    display: block;
    text-align: center;
    border: 1px dashed #ccc;
    color: #555;
}

.custom-dropzone:hover {
	text-decoration: none;
	color: #555;
}

.tab-content .tab-pane {
    padding-top: 20px;
}

/* Images Select */
#dt-images_wrapper .row:first-child {
	display: none;
}

#dt-images_wrapper .row:last-child {
	background-color: #FFF;
	border: none;
}

#image_sizes .thumbnail, #thumbnails .thumbnail {
	position: relative;
	height: 200px;
	overflow: hidden;
	padding: 0;
}

.popover {
	z-index: 99999;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:1%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.btn.btn-icon-anim i, .wizard > .actions a.btn-icon-anim i, .dt-buttons .btn-icon-anim.dt-button i, .tablesaw-sortable th.tablesaw-sortable-head button.btn-icon-anim i, .sweet-alert button.btn-icon-anim i, .owl-theme .owl-nav .btn-icon-anim[class*="owl-"] i, button.btn-icon-anim.fc-agendaDay-button.fc-state-default.fc-corner-right i, button.btn-icon-anim.fc-month-button.fc-state-default.fc-corner-left i, button.btn-icon-anim.fc-agendaWeek-button i, .btn-icon-anim.fc-prev-button i, .btn-icon-anim.fc-next-button i, .btn-icon-anim.fc-today-button i {
    font-size: 12px;
}

.btn.btn-circle, .wizard > .actions a.btn-circle, .dt-buttons .btn-circle.dt-button, .tablesaw-sortable th.tablesaw-sortable-head button.btn-circle, .sweet-alert button.btn-circle, .owl-theme .owl-nav .btn-circle[class*="owl-"], button.btn-circle.fc-agendaDay-button.fc-state-default.fc-corner-right, button.btn-circle.fc-month-button.fc-state-default.fc-corner-left, button.btn-circle.fc-agendaWeek-button, .btn-circle.fc-prev-button, .btn-circle.fc-next-button, .btn-circle.fc-today-button {
    width: 25px;
    height: 25px;
}

.btn i {
    top: 7px;
    right: 8px;
}

.table > tbody > tr > td, .jsgrid-table > tbody > tr > td, .table > tbody > tr > th, .jsgrid-table > tbody > tr > th, .table > tfoot > tr > td, .jsgrid-table > tfoot > tr > td, .table > tfoot > tr > th, .jsgrid-table > tfoot > tr > th, .table > thead > tr > td, .jsgrid-table > thead > tr > td, .table > thead > tr > th, .jsgrid-table > thead > tr > th {
    padding: 10px;
}

#cal-slide-content {
    background-image: none;
    background-color: #000;
    box-shadow: none;
}

#cal-slide-content:hover {
    background-color: #000;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    line-height: 20px;
    color: #000;
}