/* Headers */

.clearfix {
  overflow: auto;
  clear: both;
}

h2 {
    font-size: 40px;
    line-height: 46px;
}

h3 {
    font-size: 30px;
    line-height: 34px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

.control-label {
    font-size: 16px;
}

/* Popups */
.popup-align {
    padding: 50px;
}

/* Errors */
.error {
	font-size: 12px;
  margin-top: 10px;
  /* padding-left: 35px; */
}

/* Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  font-size: 18px;
}

/* Inbox */
ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%; }
    ul.inbox-nav li {
      display: inline-block;
      width: 100%; }
      ul.inbox-nav li a {
        display: inline-block;
        padding: 10px 15px;
        width: 100%;
        text-transform: capitalize;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        transition: 0.3s ease; }
        ul.inbox-nav li a i {
          font-size: 16px;
          padding-right: 10px;
          color: #878787; }
  
  ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: rgba(33, 33, 33, 0.05); }
  
  .inbox-pagination {
    float: right; }
    .inbox-pagination li {
      float: left; }
  
  .inbox-head {
    color: #fff;
    min-height: 80px; }
  
  .table-inbox tr td {
    padding: 7px 15px !important; }
    .table-inbox tr td:hover {
      cursor: pointer; }
  
  .table-inbox tr td .zmdi-star.inbox-started,
  .table-inbox tr td .zmdi-star:hover {
    color: #f33923; }
  
  .table-inbox tr.unread td {
    color: #212121;
    font-weight: 500; }
    .table-inbox tr.unread td i {
      color: #878787; }
  .table-inbox.table-hover > tbody > tr {
    background: rgba(33, 33, 33, 0.05) !important; }
    .table-inbox.table-hover > tbody > tr td {
      color: #212121; }
      .table-inbox.table-hover > tbody > tr td i {
        color: #878787; }
    .table-inbox.table-hover > tbody > tr.unread {
      background: transparent !important; }
      .table-inbox.table-hover > tbody > tr.unread:hover {
        background-color: rgba(33, 33, 33, 0.05) !important; }
  
  .time-chat-history {
    min-width: 70px; }
  
  .mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%; }
    .mail-option .chk-all {
      display: inline-block;
      padding: 0; }
      .mail-option .chk-all .btn, .mail-option .chk-all .wizard > .actions a, .wizard > .actions .mail-option .chk-all a, .mail-option .chk-all .dt-buttons .dt-button, .dt-buttons .mail-option .chk-all .dt-button, .mail-option .chk-all .tablesaw-sortable th.tablesaw-sortable-head button, .tablesaw-sortable th.tablesaw-sortable-head .mail-option .chk-all button, .mail-option .chk-all .sweet-alert button, .sweet-alert .mail-option .chk-all button, .mail-option .chk-all .owl-theme .owl-nav [class*="owl-"], .owl-theme .owl-nav .mail-option .chk-all [class*="owl-"], .mail-option .chk-all button.fc-agendaDay-button.fc-state-default.fc-corner-right,
      .mail-option .chk-all button.fc-month-button.fc-state-default.fc-corner-left,
      .mail-option .chk-all button.fc-agendaWeek-button, .mail-option .chk-all .fc-prev-button, .mail-option .chk-all .fc-next-button, .mail-option .chk-all .fc-today-button, .mail-option .chk-all .dropdown {
        display: inline-block;
        padding: 0 5px;
        box-shadow: none;
        margin-right: 5px;
        background: transparent;
        color: #212121; }
        .mail-option .chk-all .btn i, .mail-option .chk-all .wizard > .actions a i, .wizard > .actions .mail-option .chk-all a i, .mail-option .chk-all .dt-buttons .dt-button i, .dt-buttons .mail-option .chk-all .dt-button i, .mail-option .chk-all .tablesaw-sortable th.tablesaw-sortable-head button i, .tablesaw-sortable th.tablesaw-sortable-head .mail-option .chk-all button i, .mail-option .chk-all .sweet-alert button i, .sweet-alert .mail-option .chk-all button i, .mail-option .chk-all .owl-theme .owl-nav [class*="owl-"] i, .owl-theme .owl-nav .mail-option .chk-all [class*="owl-"] i, .mail-option .chk-all button.fc-agendaDay-button.fc-state-default.fc-corner-right i,
        .mail-option .chk-all button.fc-month-button.fc-state-default.fc-corner-left i,
        .mail-option .chk-all button.fc-agendaWeek-button i, .mail-option .chk-all .fc-prev-button i, .mail-option .chk-all .fc-next-button i, .mail-option .chk-all .fc-today-button i, .mail-option .chk-all .dropdown i {
          color: #878787; }
      .mail-option .chk-all input[type="checkbox"] {
        margin-top: 0; }
      .mail-option .chk-all .checkbox {
        min-height: auto !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important; }
    .mail-option .btn-group {
      margin-right: 5px; }
      .mail-option .btn-group a.all {
        border: medium none; }
  
        .section-header {
          position: relative;
          font-weight: 600;
          margin-bottom: 4rem;
          z-index: 5;
          display: -webkit-flex;
          display: flex
      }
      
      @media (max-width: 767px) {
          .section-header {
              margin-bottom: 3rem
          }
      }
      
      .section-header .section-header-image {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          width: 44px;
          height: 44px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.75rem;
          -webkit-flex: 0 0 auto;
          flex: 0 0 auto
      }
      
      .section-header .section-header-image+.section-header-content {
          margin-top: 13px
      }
      
      .section-header .section-header-indicator {
          position: relative;
          top: 0.45em;
          width: 6px;
          height: 6px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          display: block;
          margin-right: 1rem;
          -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
          background-color: #1E8DEE
      }
      
      .section-header .section-header-indicator:after {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: ' ';
          background-image: radial-gradient(rgba(30, 141, 238, 0), #1E8DEE);
          background-size: cover;
          -webkit-animation: headerIndicatorAnimation 1s infinite;
          -moz-animation: headerIndicatorAnimation 1s infinite;
          -ms-animation: headerIndicatorAnimation 1s infinite;
          -o-animation: headerIndicatorAnimation 1s infinite;
          animation: headerIndicatorAnimation 1s infinite;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          z-index: 2
      }
      
      @-moz-keyframes headerIndicatorAnimation {
          0% {
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1)
          }
          100% {
              -webkit-transform: scale(3, 3);
              -moz-transform: scale(3, 3);
              -ms-transform: scale(3, 3);
              -o-transform: scale(3, 3);
              transform: scale(3, 3);
              filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
              opacity: 0
          }
      }
      
      @-webkit-keyframes headerIndicatorAnimation {
          0% {
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1)
          }
          100% {
              -webkit-transform: scale(3, 3);
              -moz-transform: scale(3, 3);
              -ms-transform: scale(3, 3);
              -o-transform: scale(3, 3);
              transform: scale(3, 3);
              filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
              opacity: 0
          }
      }
      
      @-o-keyframes headerIndicatorAnimation {
          0% {
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1)
          }
          100% {
              -webkit-transform: scale(3, 3);
              -moz-transform: scale(3, 3);
              -ms-transform: scale(3, 3);
              -o-transform: scale(3, 3);
              transform: scale(3, 3);
              filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
              opacity: 0
          }
      }
      
      @-ms-keyframes headerIndicatorAnimation {
          .section-header .section-header-indicator 0% {
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1)
          }
          .section-header .section-header-indicator 100% {
              -webkit-transform: scale(3, 3);
              -moz-transform: scale(3, 3);
              -ms-transform: scale(3, 3);
              -o-transform: scale(3, 3);
              transform: scale(3, 3);
              filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
              opacity: 0
          }
      }
      
      @keyframes headerIndicatorAnimation {
          0% {
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1)
          }
          100% {
              -webkit-transform: scale(3, 3);
              -moz-transform: scale(3, 3);
              -ms-transform: scale(3, 3);
              -o-transform: scale(3, 3);
              transform: scale(3, 3);
              filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
              opacity: 0
          }
      }
      
      .section-header .section-header-content {
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all 0.3s ease-in-out
      }
      
      .section-header .section-header-content .nav {
          margin-top: 1.5rem
      }
      
      .section-header .section-header-content .section-header-caption {
          margin-top: 1.5rem;
          font-size: 0.85rem
      }
      
      .section-header .section-header-content .section-header-caption .module {
          display: inline-block;
          margin-bottom: 0.5rem
      }
      
      .section-header .section-header-content .section-header-caption .module:not(:last-child) {
          margin-right: 1.5rem
      }


      .post {
        margin-bottom: 2rem
    }
    
    .post .post-image img {
        width: 100%
    }
    
    .post .post-image .btn-play {
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% - 40px)
    }
    
    .post ul.post-meta {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0 0 1.5rem 0;
        display: block;
        font-size: 0.9rem
    }
    
    .post ul.post-meta>li {
        display: inline-block;
        font-size: 0.9rem;
        color: rgba(47, 47, 47, 0.5);
        font-weight: 400
    }
    
    .post ul.post-meta>li a {
        color: inherit
    }
    
    .post ul.post-meta>li a:hover,
    .post ul.post-meta>li a:focus {
        color: #1E8DEE
    }
    
    .post ul.post-meta>li>span {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: .7
    }
    
    .post ul.post-meta>li:not(:last-child) {
        margin-right: 8px
    }
    
    .post ul.post-meta>li:not(:last-child):after {
        content: "";
        margin-left: 11px;
        width: 4px;
        height: 4px;
        background-color: rgba(47, 47, 47, 0.5);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle
    }
    
    .post.item {
        -webkit-border-radius: .3rem;
        -moz-border-radius: .3rem;
        -ms-border-radius: .3rem;
        -o-border-radius: .3rem;
        border-radius: .3rem;
        background-color: #F9F9F9
    }
    
    .post.item a:not(.btn) {
        color: inherit
    }
    
    .post.item a:not(.btn):hover,
    .post.item a:not(.btn):focus {
        color: #1E8DEE
    }
    
    .post.item .post-image {
        position: relative;
        -webkit-border-radius: 0.3rem 0.3rem 0 0;
        -moz-border-radius: 0.3rem 0.3rem 0 0;
        -ms-border-radius: 0.3rem 0.3rem 0 0;
        -o-border-radius: 0.3rem 0.3rem 0 0;
        border-radius: 0.3rem 0.3rem 0 0;
        overflow: hidden
    }
    
    .post.item .post-image img {
        -webkit-border-radius: 0.3rem 0.3rem 0 0;
        -moz-border-radius: 0.3rem 0.3rem 0 0;
        -ms-border-radius: 0.3rem 0.3rem 0 0;
        -o-border-radius: 0.3rem 0.3rem 0 0;
        border-radius: 0.3rem 0.3rem 0 0;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        transition: all 0.6s ease-in-out
    }
    
    .post.item .post-content {
        position: relative;
        padding: 2rem 2.5rem;
        text-align: center
    }
    
    .post.item .post-content .post-title {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
        font-weight: 600;
    }
    
    .post.item .post-content p {
        color: rgba(47, 47, 47, 0.5)
    }
    
    .post.item .post-content>*:last-child {
        margin-bottom: 0
    }
    
    .post.item:hover .post-image img {
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05)
    }

    .blockquote {
      position: relative;
      border: none;
      -webkit-border-radius: .4rem;
      -moz-border-radius: .4rem;
      -ms-border-radius: .4rem;
      -o-border-radius: .4rem;
      border-radius: .4rem;
      background-color: #F9F9F9;
      padding: 2.5rem;
      line-height: 1.75
  }
  
  .blockquote .bg-image-container {
      -webkit-border-radius: .4rem;
      -moz-border-radius: .4rem;
      -ms-border-radius: .4rem;
      -o-border-radius: .4rem;
      border-radius: .4rem
  }
  
  .blockquote>*:not(.bg-image-container) {
      position: relative;
      z-index: 2
  }
  
  .blockquote p {
      font-size: inherit
  }
  
  .blockquote footer {
      font-size: 1rem;
      margin-top: 1.5rem
  }
  
  .blockquote footer img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      vertical-align: middle;
      margin-right: 1rem
  }

  .filter-list>* {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.filter-list>*.not-matched {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: .4;
    pointer-events: none
}

/* Newsfeed */
.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.txt-grey {
    color: #878787;
}

.sl-item {
    position: relative;
    padding-bottom: 18px;
    border-left: 1px solid #dedede;
    margin-left: 15px; }
    .sl-item .sl-content {
      margin-left: 30px; }
      .sl-item .sl-content p {
        margin: 8px 0 10px 0; 
    }
  
  .user-activity .sl-item .sl-content {
    border-bottom: 1px solid rgba(33, 33, 33, 0.05);
    padding-bottom: 15px; }
    .user-activity .sl-item .sl-content .txt-success {
        color: #8BC34A;
        font-weight: 600;
        margin-right: 5px;
    }
    .user-activity .sl-item .sl-content .activity-thumbnail {
      margin-top: 5px; }
      .user-activity .sl-item .sl-content .activity-thumbnail img {
        height: 65px;
        width: 65px;
        border-radius: 2px;
        margin-right: 10px; }
        .user-activity .sl-item .sl-content .activity-thumbnail img:last-child {
          margin-right: 0; }
  .user-activity .sl-item:last-child .sl-content {
    border-bottom: 0;
    padding-bottom: 0; }
  
  .sl-avatar {
    position: absolute;
    left: -15px; }
    .sl-avatar img {
      height: 30px;
      width: 30px; }
/*File Manager*/
.file-box {
    float: left;
    margin-bottom: 20px; }
  
  .file-sec {
    border-left: 1px solid rgba(33, 33, 33, 0.05); }
  
  .file-manager {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .file-manager h5 {
      text-transform: uppercase; }
  
  .folder-list li {
    display: block; }
    .folder-list li.active a {
      background: rgba(33, 33, 33, 0.05); }
    .folder-list li a {
      display: block;
      padding: 10px 15px;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      transition: 0.3s ease; }
      .folder-list li a:hover {
        background: rgba(33, 33, 33, 0.05); }
    .folder-list li i {
      margin-right: 8px;
      color: #878787; }
  
  .category-list li {
    display: block; }
    .category-list li a {
      color: #666666;
      display: block;
      padding: 5px 0; }
    .category-list li i {
      margin-right: 8px;
      color: #3d4d5d; }
  
  .file-manager h5.tag-title {
    margin-top: 20px; }
  
  .tag-list li {
    float: left; }
    .tag-list li a {
      font-size: 12px;
      background-color: #dedede;
      padding: 5px 12px;
      border: 1px solid #dedede;
      margin-right: 5px;
      margin-top: 5px;
      display: block; }
  
  .file-manager .hr-line-dashed {
    margin: 15px 0; }
  
  .file {
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 0;
    background-color: #fff;
    position: relative; }
    .file .icon, .file .image {
      height: 150px;
      overflow: hidden;
      background-size: cover;
      background-position: top; }
    .file .icon {
      padding: 15px 10px;
      display: table;
      width: 100%;
      text-align: center; }
    .file .icon i {
      color: #2196F3;
      display: table-cell;
      font-size: 30px;
      vertical-align: middle; }
    .file .file-name {
      padding: 10px;
      background-color: rgba(33, 33, 33, 0.05);
      border-top: 1px solid rgba(33, 33, 33, 0.05); }
      .file .file-name span {
        font-size: 12px;
        color: #878787; }
  
  .file-control {
    font-size: 13px;
    margin-right: 10px;
    text-transform: uppercase; }
    .file-control.active {
      color: #f33923; }
  
  .file-name small {
    color: #878787; }
  
  ul.tag-list li {
    list-style: none; }
  
  a.compose-mail {
    padding: 8px 10px; }
  
  .mail-search {
    max-width: 300px; }
  
  .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0; }
    .ibox.collapsed .ibox-content {
      display: none; }
    .ibox.collapsed .fa.fa-chevron-up:before {
      content: "\f078"; }
    .ibox.collapsed .fa.fa-chevron-down:before {
      content: "\f077"; }
    .ibox:after, .ibox:before {
      display: table; }
  
  .ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px; }
  
  .ibox-content {
    background-color: #fff;
    color: inherit; }
  
  .ibox-footer {
    color: inherit;
    border-top: 1px solid #dedede;
    font-size: 90%;
    background: #fff;
    padding: 10px 15px; }

.header-top .entry {
    line-height: 5px;
    padding: 20px;
}

.header-top .entry.lvv
{
    width: 30%;
}

.header-top .entry.lvv img {
    width: 65%;
}

.header-top .entry.docu
{
    width: 50%;
}

.header-top .entry.docu img {
    width: 40%;
}

/*
 * Notifications 
*/

.notification {
  position: relative;
  display: inline-block;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 5px;
  left: 85px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.SumoSelect.open .search-txt {
  padding-left: 10px;
}

.SumoSelect > .optWrapper {
  left: 0;
}