html {
    scroll-behavior: smooth;
}

.header-top {
    height: 0;
    padding-top: 0;
}

#logo {
    top: 50%;
    height: auto;
}

#logo img {
    max-width: 150px;
}

.banner-img {
    position: relative;
}

.banner-text {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.simple-article.light.transparent, .light.transparent {
    color: #FFFFFF;
}

.cell-view.simple-banner-height {
    height: 665px;
}

.simple-article h1, .h1 {
    font-size: 60px;
    line-height: 65px;
}

.panel-heading {
    text-align: center;
}

.panel-default {
    border-color: transparent;
}

.panel-default>.panel-heading {
    background-color: #fff;
    border-color: #b8cd06;
}

.panel-title {
    font-size: 18px;
    line-height: 24px;
    color: #343434;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.panel-body {
    font-size: 14px;
    line-height: 22px;
    color: #888;
}

.panel-body p {
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
}

.popup-align {
    padding: 60px;
    line-height: 22px;
}

.popup-align p {
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
}

.popup-align ul {
    margin-bottom: 10px;
}

.popup-align ul li {
    font-family: 'Noto Serif', serif;
}

.popup-container.size-1 {
    max-width: 870px;
}

.popup-content {
    font-size: 16px;
}

.simple-article a {
    font-weight: bold;
}

.program-content {
    font-family: 'Noto Serif', serif;
    margin-top: 15px;
}

.SumoSelect {
    margin-bottom: 20px;
}

.error-field {
    color: red;
    margin-bottom: 10px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    font-family: 'Noto Serif', serif;
    background: #fff;
}

#myBtn img {
    width: 32px;
    height: 32px;
}

.program-title {
    font-size: 14px !important;
}

.slide-2 .cell-view h2,
.slide-2 .cell-view .simple-article.size-4 {
    color: #343434;
}

.article-text {
    font-family: 'Noto Serif', serif;
}

.checkbox-entry span {
    font-size: 16px;
    color: #343434;
}

.form-children {
    background: url('../images/joinmailist-bkgrdimg.png') no-repeat;
    background-size: cover;
    padding: 15px;
}



@media (max-width: 991px) {
    .cell-view.simple-banner-height, 
    .cell-view.simple-banner-height.big, .cell-view.simple-banner-height.middle {
        height: 750px;
    }

    #logo img {
        width: 230%;
    }
}

@media (max-width: 767px) {
    .header-top {
        height: auto;
        border-bottom: none;
        padding-top: 40px;
    }

    .header-bottom {
        border-top: 2px solid #fff;
        box-shadow: none;
        height: 40px;
    }

    #logo {
        margin-top: -40px;
        left: 100px;
    }

    .simple-article h1, .h1 {
        font-size: 34px;
        line-height: 40px;
    }
}

@media (max-width: 320px) {
   
    #logo {
        left: 90px;
        margin-top: -45px;
    }
}
