.btn i {
    position: absolute;
    top: 10px;
    right: 14px;
}

.d-none {
    display: none;
}

.dropzone {
    border: 1px dashed #dedede !important;
}

.dz-message span {
    display: block !important;
}

.sp-logo-wrap .brand-img {
    width: 200px;
}