/**
 * @package		RainCode
 * @version		1.0
 * @author 		Robert Christian Obias <robertchristianobias@gmail.com>
 * @copyright 	Copyright (c) 2016, RC MediaPH
 * @link		http://www.rcmediaph.com
 */


#dt-images_wrapper .row:first-child {
	display: none;
}

#dt-images_wrapper .row:last-child {
	background-color: #FFF;
	border: none;
}


#image_sizes .thumbnail, #thumbnails .thumbnail {
	position: relative;
	height: 100px;
	overflow: hidden;
	padding: 0;
	/*background-color: #DDD;*/
}
.popover {
	z-index: 99999;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:1%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}