/**
 * @package     RainCode
 * @version     1.0
 * @author      Robert Christian Obias <robertchristianobias@gmail.com>
 * @copyright   Copyright (c) 2015, RC MediaPH
 * @link        http://www.rcmediaph.com
 */

.ge-addRowGroup .btn {
    margin-right: 10px !important;
}

#my-grid {
    border: 1px solid #CCC;
    min-height: 200px;
    padding: 10px;
}
 
#my-grid::before {
    display: block;    
    content: 'Select a column above to start adding content';
    font-weight: bold;    
    margin: 10px 0 20px;
}

.gm-edit-mode,
.gm-preview,
.ge-layout-mode {
    visibility: hidden;
}