/**
 * @package		Codeigniter
 * @version		1.0
 * @author 		Robert Christian Obias <robertchristianobias@gmail.com>
 * @copyright 	Copyright (c) 2014-2015, Robert Christian Obias
 * @link		robertchristianobias@gmail.com
 */

.border-green { border: 1px solid green; }
.border-red { border: 1px solid red; }

.module_name {
	margin-top: 20px;
	border-bottom: 1px solid #D2D6DE;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.select-none { margin-left: 4px; }
.select-all, .select-none { margin-top: -2px; }

.toggle-accordion .fa-minus-circle, 
.toggle-accordion.collapsed .fa-plus-circle { 
	display: inline-block; 
	margin-right: 4px;
}

.toggle-accordion.collapsed .fa-minus-circle, 
.toggle-accordion .fa-plus-circle { 
	display: none; 
}

.toggle-accordion.collapsed + .select-none, 
.toggle-accordion.collapsed + .select-none + .select-all {
	display: none;
}

.toggle-accordion + .select-none, 
.toggle-accordion + .select-none + .select-all {
	display: inline-block;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #6C5CEC;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }