/**
 * @package     Codeigniter
 * @version     1.0
 * @author      Robert Christian Obias <robertchristianobias@gmail.com>
 * @copyright   Copyright (c) 2015, 
 * @link        http://www.rchristianobias.com
 */
 
#categories {
 	max-height: 350px;
 	overflow-y: auto;
}

.checkbox {
 	margin-bottom: 5px;
}