/**
 * @package		Codeigniter
 * @version		1.0
 * @author 		Robert Christian Obias <robertchristianobias@gmail.com>
 * @copyright 	Copyright (c) 2016, 
 * @link		http://www.rchristianobias.com
 */

.dataTables_wrapper .row:last-child {
    background-color: transparent;
    border:0;
}
.thumbnails {
    position: relative;
    /*width: 200px;*/
    height: 200px;
    overflow: hidden;
    padding: 0;
    border: 1px solid;

}

#dropzone {
	/*height: 50px !important;*/
	padding: 0;
	margin: 0;
	border: 1px dashed #CCC;
	width: 100% !important;
	height: 10px;
	overflow: hidden;
}