/**
 * @package		Codeigniter
 * @version		1.0
 * @author 		Robert Christian Obias <robertchristianobias@gmail.com>
 * @copyright 	Copyright (c) 2016, 
 * @link		http://www.rchristianobias.com
 */


.full-image img {
	margin: 0 auto;
	width: auto;
	height: auto;
}

.modal-dialog {
	max-width: 650px;
	max-height: 900px;
}