/**
 * @package		Codeigniter
 * @version		1.0
 * @author 		Robert Christian Obias <robertchristianobias@gmail.com>
 * @copyright 	Copyright (c) 2016, 
 * @link		http://www.rchristianobias.com
 */

.dataTables_wrapper .row:last-child {
    border:0;
    background-color: transparent;
}
.thumbnail {
    position: relative;
    /*width: 200px;*/
    height: 175px;
    overflow: hidden;
    padding: 0;
}